# example config to run Util Module
# - Server:
#     CommType: SHM # valid values SHM, PIPE, ZMQ
#     CommChannelUp: apeSock_upload # upload channel name, ip/port for zmq
#     CommChannelDown: apeSock # download channel name, ip/port for zmq
#     CommChannelUseUID: true # whether add UID to socket names, only for pipe and SHM
#     NumReceivers: 1 # number of receiver threads
#     NumSenders: 1 # number of sender threads
#     NumRunners: 4 # number of runner threads
#     MaxWorkTokens: 5000 # number of requests on flight before server blocks
- Server: {CommChannelDown: '10.193.26.44:7668', CommChannelUp: '10.193.26.44:7667',
    CommChannelUseUID: false, CommType: ZMQ, MaxWorkTokens: 5000, NumReceivers: 1,
    NumRunners: 12, NumSenders: 1}
- Module:
    AllowedGPUs: [3]
    CreateTrackMakingContexts: false
    Library: libTrigInDetModule.so
    MaxMem: [3000]
    Name: Trigger Inner Detector Module
    NumTokens: [32]
- Module:
    AllowedGPUs: [3]
    DebugMode: false
    Library: libTrigCaloModule.so
    MaxMem: [3000]
    Name: Trigger Calorimeter Module
    NumTokens: [32]
    RunDiagnostics: false
    DebugMode:   true     # enable to turn on device reset for debug purpose, will kill other GPU running code  
    RunDiagnostics: false  # enable to run the diagnostics, for athena EDM vs GPU EDM validations
    ProfileAtModule: true  # enable profiling at module level 
    VerbosityLevel: INFO  # set the verbosity level (VERBOSE,DEBUG,INFO,WARNING,ERROR,FATAL,NONE)
- Client:
    NumEvents: 200
    EnabledModules: [51,269484032]
    DataDir: /scratch/kama/ClientData
    InitConfig:
      - InitFiles:
          Event: 40201
          Module: 51
          Alg: 50001
      - InitFiles:
          Event: 40201
          Module: 269484032
          Alg: 12020
      - InitFiles:
          Event: 40201
          Module: 269484032
          Alg: 11020
      - InitFiles:
          Event: 40201
          Module: 269484032
          Alg: 10020
      - InitFiles:
          Event: 40203
          Module: 71
          Alg: 77006
